# Imports

In [7]:
import sqlite3
import pandas as pd

# Explore Database

In [4]:
# Connect to database
path_to_db = "../data/DB/olist.db"
connection = sqlite3.connect(path_to_db)

# Create a cursor object to execute SQL queries
cursor = connection.cursor()

We will start by exploring the table related to customers : customers.

In [22]:
query = "SELECT * FROM customers"

In [23]:
# Display the results in a pandas dataframe
df_customers = pd.read_sql_query(query, connection)
df_customers.head()

,index,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

How many customers ?

In [32]:
print(f"Number of customers : {len(df_customers['customer_unique_id'].unique())}")
print(f"Customers are from {len(df_customers['customer_state'].unique())} different states and {len(df_customers['customer_city'].unique())} different cities")

# get the number of orders per customer
orders_by_customer = df_customers.groupby("customer_unique_id")["customer_id"].count().sort_values(ascending=False)
# get min and max number of orders
min_orders = orders_by_customer.min()
max_orders = orders_by_customer.max()
# get the average number of orders
average_orders = orders_by_customer.mean()

print(f"The number of orders can be from {min_orders} to {max_orders} with an average of {round(average_orders, 2)} orders per customer")

Number of customers : 96096
Customers are from 27 different states and 4119 different cities
The number of orders can be from 1 to 17 with an average of 1.03 orders per customer